@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<style>
    body {
        background-image: url('@Url.Content("~/images/f1.jpg")');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.ErrorMessage != null)
{
    <p class="text-danger">
        <strong>Error Message: @Model.ErrorMessage</strong>
    </p>
}
@if (Model.RequestId != null){
    <p>
        <strong>Request ID: @Model.RequestId </strong>
    </p>
}


