@{
    ViewData["Title"] = "Add New Driver";
}

@model AutodeskWebApp.Models.Data.Driver
<!-- Overwrite background image for this page for better UX >-->
<style>
    body {
        background-color: rgb(21, 21, 21);
        background-image: none;
    }
</style>

<h1>@ViewData["Title"]</h1>

<!-- Add Driver Form >-->
<form method="post" asp-action="AddDriver">
    <div class="mt-4">  
        <label class="form-label">Name</label>
        <input type="text" required class="form-control" placeholder="Enter Driver Name" asp-for="Name" maxlength="100">

    </div>

    <div class="mt-4">  
        <label class="form-label">Email</label>
        <input type="text" required class="form-control" placeholder="Enter Email" asp-for="Email" maxlength="200">

    </div>

    <div class="mt-4">  
        <label class="form-label">Phone</label>
        <input type="number" required class="form-control" placeholder="Enter Phone Number" asp-for="Phone" maxlength="10">

    </div>

    <div class="mt-4">  
        <label class="form-label">Team</label>
        <input type="text" required class="form-control" placeholder="Enter Team Name" asp-for="Team" maxlength="100">

    </div>

    <div class="mt-4">  
        <label class="form-label">Home Country</label>
        <input type="text" required class="form-control" placeholder="Enter Home Country" asp-for="HomeCountry"  maxlength="100">

    </div>

    <div class="mt-4">  
        <label class="form-label">Image</label>
        <input type="text" required class="form-control" placeholder="Enter Headshot URL" asp-for="ImageUrl" maxlength="3000">

    </div>

    <div class="mt-4">  
        <label class="form-label">Driver Number</label>
        <input type="number" required class="form-control" placeholder="Enter Driver Number" asp-for="DriverNumber">

    </div>

    <div class="mt-4">  
        <input type="checkbox" class="form-check-input" id="IsRacingThisYear" asp-for="IsRacingThisYear" value="true" />
        <label class="form-check-label">Racing This Year</label>
    </div>


    <div class="mt-4">  
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-primary">Reset</button> 
        <button type="button" class="btn btn-primary" onclick="window.history.back();">Cancel</button>
    </div>
</form>
