html {
  font-size: 14px;
}
@font-face {
	font-family: 'FormulaOneFont-Regular';
	src: url('/fonts/FormulaOneFonts/Formula1-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'FormulaOneFont-Bold';
	src: url('/fonts/FormulaOneFonts/Formula1-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'FormulaOneFont-Wide';
	src: url('/fonts/FormulaOneFonts/Formula1-Wide.otf') format('opentype');
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


.btn:hover, .btn-primary:hover{
  background-color: gray;
  color: white;  
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
	font-family: 'FormulaOneFont-Regular', sans-serif;
}

label, h1 {
  color: white;
}
.display-4{
  font-family: 'FormulaOneFont-Wide', sans-serif;
  color: white;
}
.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
