/* _content/AutodeskWebApp/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.container-fluid[b-xa8gkw94vx] {
  background-color: red;
  color: white;
	font-family: 'FormulaOneFont-Bold', sans-serif;
  
}
/* header */
a.navbar-brand[b-xa8gkw94vx] {
  background-color: red;
  white-space: normal;
  text-align: center;
  word-break: break-all;
	font-family: 'FormulaOneFont-Wide', sans-serif;
  color: white;
}
.nav-item[b-xa8gkw94vx], div.navbar-collapse[b-xa8gkw94vx], .header[b-xa8gkw94vx], .navbar[b-xa8gkw94vx] {
  color: white;
}
.nav-item:hover[b-xa8gkw94vx]{
  background-color: green;
  color: white;
}


.navbar-nav[b-xa8gkw94vx]{
  color: white;
}

.btn-primary[b-xa8gkw94vx] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xa8gkw94vx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xa8gkw94vx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xa8gkw94vx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xa8gkw94vx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xa8gkw94vx] {
  background-color: red;
  position: absolute;
	font-family: 'FormulaOneFont-Regular', sans-serif;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

a.nav-link[b-xa8gkw94vx]{
  color: white;
}

a.nav-link:hover[b-xa8gkw94vx]{
  background-color: black;
  color: white;
}
