table {
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
	word-wrap: break-word;
  }
  
   td, th {
	border: 1px solid #ddd;
	padding: 8px;
	overflow-wrap: break-word;
	font-size: clamp(12px, 1.5vw, 16px);
  }
  
   tr:nth-child(even){background-color: #f2f2f2;}
   tr:nth-child(odd){background-color: #dcd8d8;}
  
   tr:hover {background-color: #ffffff;}

   td {
	font-family: 'FormulaOneFont-Regular', sans-serif;
   }
  
   th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: red;
	color: white;
	font-family: 'FormulaOneFont-Bold';
  }

  .btn-primary{
	background-color: rgb(40, 38, 38);
  }
  .email{
	text-transform: lowercase;
  }